* CONFIGURATION4.0
# ESP-r system configuration defined by file 
# caravan.cfg
*date Thu Oct 15 23:55:25 2020  # latest file modification
*root caravan
*zonpth ../zones                  # path to zone file
*netpth ../nets                   # path to network files
*ctlpth ../ctl                    # path to control files
*aimpth ../aim2                   # path to aim2 files
*radpth ../rad                    # path to radiance files
*imgpth ../images                 # path to project images
*docpth ../doc                    # path to project documents
*dbspth ../dbs                    # path to local databases
*hvacpth ../hvac                   # path to HVAC files
*bsmpth ../bsm                    # path to BASESIMP files
*radcore  1  # cores available to Radiance
*indx    1 # Building only
 45.500   -8.500  # latitude & longitude difference (from reference meridian)
      1   0.200  # site exposure & ground reflectivity
* DATABASES
*mat ../dbs/caravan.materialdb
*stdcfcdb CFClayers.db2.a
*mlc ../dbs/caravan.constrdb
*stdopt optics.db
*stdprs pressc.db1
*stdevn profiles.db2.a
*stdclm  clm67
*stdmscldb mscomp.db1
*stdmould  mould.db1  # mould isopleths
*stdpdb plantc.db1
*stdsbem SBEM.db1
*stdpredef predefined.db1
*slr_half_hr  0  # solar data hour centred
*sitealt  250.0
*quick_run  0  # no
*ctl ../ctl/caravan.ctl
*calename standard weekday Sat Sun hol
*calentag weekdays, weekdays (all year), 260
*calentag saturday, Saturdays (all year),  52
*calentag sunday, Sundays (all year),  52
*calentag holiday, holiday,   1
*list    4
 4,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1, 
 1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1, 
 1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3, 
 1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1, 
 2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1, 
 1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1, 
 1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2, 
 3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3
*end_list
*year 1967  # assessment year
*water_in_zones  0.6  998.2 4190.0    0.0  # water cond, density, spec heat, shortwave abs
# sim setup: no. sets startup zone_ts plant_ts save_lv @ each ts
*sps    1   5   4  10   4   0
   0   4  10   4   0  15   3  15   3  default  # period & name
*sblr caravan.res
*sflr caravan.mfr
*end_set
*end_sps
# Name and address of building
*B-NAME not yet defined
*B-ADDRESS not yet defined
# Contact information for building owner
*O-NAME not yet defined
*O-ADDRESS not yet defined
# Contact information for simulation team
*C-NAME not yet defined
*C-ADDRESS not yet defined
* PROJ LOG
../doc/caravan.log
* Building
a slf-moving room
      1 # number of zones
*zon   1  # reference for main        
*opr ../zones/main.opr  # schedules
*geo ../zones/main.geo  # geometry
*con ../zones/main.con  # constructions
*tmc ../zones/main.tmc  # transparent constructions
*ise ../tmp/Z1.shd  # embedded S/I calculation
*zend 
*cnn caravan.cnn  # surface connections file
   1  # fluid flow network
../nets/caravan.afn # flow file network file
 main
